# C++ build files
*.o
*.obj
*.so
*.exe
*.out
*.a
*.dll

# Compiled binaries
a.out
main
*.bin

# IDE files
.vscode/
*.code-workspace
*.cbp
*.depend
*.layout

# OS-specific junk
.DS_Store
Thumbs.db
RESOURCES/
